        /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');
      
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
      
      
          /* Fonts */

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


                /* Default */
*{
  margin: 0;
  padding: 0;
  /*
  transition: all .2s linear;
  */
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  background-image: url(/images/jp-flag.jpg);
  background-position: -10% 55%;
}


                /* Navigation */
  nav{
    z-index: 1000000;
    top: 25px;
    position: relative;
  }
  .snav{
    position: fixed;
    z-index: 500;
  }
  .nav-list{
    font-weight: 700;
    text-align: center;
    background: #777;
    position: fixed;
    width: 300px;
    height: 100vh;
    right: -300px;
    top: 0;
    padding-top: 25px;
    z-index: -1;
    transition: left .8s cubic-bezier(1, 0, 0, 1);  
  }
  .change .nav-list{
    left: 0;
  }
  .nav-link{
    text-decoration: none;
    list-style: none;
    position: relative;
    top: 30vh;
    color: white;
    text-transform: uppercase;
  }
  .nav-item{
    margin: 25px;
    list-style: none;
  }
  .nav-link:hover{
    text-decoration: underline;
  }




  .hamburger-menu{
    width: 50px;
    height: 30px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line{
    background: black;
    width: 100%;
    transition: all 0.8s;
  }
  .line-1{
    width: 50px;
    height: 5px;
  }
  .line-2{
    width: 40px;
    height: 5px;
  }
  .line-3{
    width: 30px;
    height: 5px;
  }
  /* Open Menu */
  .change #topline{
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  .change #middleline{
    opacity: 0;
  }
  .change #bottomline{
    transform: rotateZ(405deg) translate(-8px, -6px);
    width: 50px;
  }

  .landing{
    position: relative;
    top: 0;
    height: 100vh;
  }
  .main-nav{
    font-style: italic;
    font-weight: 600;
    position: fixed;
    right: 0;
    margin-right: 40%;
  }
    .main-nav li{
      display: inline;
      padding-left: 50px;
    }
    .main-nav a{
      list-style: none;
      text-decoration: none;
      color: black;
    }
    .main-nav li:hover{
      color: hotpink;
      text-decoration: underline;
      cursor: pointer;
    }

.search-icon{
  width: 40px;
  position: fixed;
  right: 0;
  margin-right: 10px;
  opacity: 0;
}
article{
  position: relative;
  top: 35vh;
  text-align: center;
}
h1{
  font-size: 3rem;
}




 /* Responsive Design */


          /* Navigation */


/* Small Laptop */
@media (max-width: 1312px){
  .line{
    background: black;
  }
  .hamburger-menu{
    width: 50px;
    height: 43px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line-1{
    width: 70px;
    height: 8px;
  }
  .line-2{
    width: 60px;
    height: 8px;
  }
  .line-3{
    width: 50px;
    height: 8px;
  }
  .main-nav{
    opacity: 0;
  }
  .search-icon{
    width: 50px;
    position: fixed;
    right: 0;
    margin-right: 10px;
    opacity: 0;
  }
  /* Open Menu */
  .change #bottomline{
    transform: rotateZ(405deg) translate(-14px, -13px);
    width: 70px;
  }
}
/* Mobile */
@media (max-width: 688px){
.search-icon{
  display: none;
}
.hamburger-menu{
  width: 50px;
  height: 30px;
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line{
  background: black;
  width: 100%;
}
.line-1{
  width: 50px;
  height: 5px;
}
.line-2{
  width: 40px;
  height: 5px;
}
.line-3{
  width: 30px;
  height: 5px;
}
/* Open Menu */
.change #topline{
  transform: rotateZ(-405deg) translate(-1px, 1px);
  width: 50px;
}
/* Open Menu */
.change #bottomline{
  transform: rotateZ(405deg) translate(-14px, -14px);
  width: 50px;
}
article{
  margin: 0 2rem 0 2rem;
  min-width: 300px;
}
}        

