@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Noto+Sans+HK&display=swap');



.hero-bg{
  /*background: #C43636 url('../images/Charles Postiaux.png');
  text-align: center;
  background-repeat: no-repeat;*/
  background: #C43636;
}
#hero{
  position: absolute;
  top: -10vh;
  right: 0;
  width: 100%;
  z-index: -1;

}
.right-hamburger-icon{
  position: relative;
  margin-left: 90vw;
}

.icons2{
  width: 35px;
  height: 5px;
  background-color: white;
  border: solid black 1px;
  margin: 6px 0;
}
li {
  float: left;
  padding: 1em;
}
.container1{
  position: absolute;
  right: 0;
  top: 20vh;
  background: white;
  border-radius: 5%;
  box-sizing: border-box;
  text-align: center;
}
.container1 h1{
  font-family: 'Karla', sans-serif;
  font-size: 9rem;
  color: #C43636;
  font-weight: normal;
  position: relative;
  z-index: 1;
  display: block;
  padding-bottom: 0;
  margin-top: 3vh;
  margin-bottom: 0;

}
.container1 h1::before{
  content:'Travel To';
  font-family: 'Karla', sans-serif;
  color: black;
  font-weight: lighter;
  position: absolute;
  font-size: 4.5rem;
  z-index: -1;
  margin-left: 5.5rem;
  bottom: 1.2em;
}

.container1 p{
  font-family: 'Karla', sans-serif;
  line-height: 1.2em;
  margin: 1em;
  text-align: left;
  position: relative;
  bottom: 6em;
  padding-left: 4.5em;
  padding-right: 4.5em;
  display: block;
  margin-bottom: 0;
  margin-top: 7em;
 }
button{
  color: white;
  background: #C43636;
  border-radius: 5em;
  width: 30%;
  padding: .5em 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 4em;
}







@media (max-width: 575px) { /* MOBILE VIEW */
  .h-nav{
    opacity: 0%;
  }
  .s-nav{
    opacity: 0;
  }
}
@media (min-width: 576px) { /* TABLET VIEW */
  .icons{
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
  }
  .left-hamburger-icon{
    float: left;
    opacity: 100%;
  }
  .h-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  .hero-bg{
    background-size: cover;
  }
}
@media (min-width: 1024px) { /* LAPTOP VIEW */
  .hero-bg{
    background-size: auto;
    background-position: 100% 0%;
  }
  .container1{
    border-radius: 0;
    margin-right: 61.9%;
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 40.2vmax;
    z-index: -1;
  }
}
